.sidemenu {
  width: 260px;
  padding-top: 10px;
  background-color: #202123;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.sidemenu.show {
  left: 0;
}

.sidemenu-button {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  gap: 20rem;
  justify-content: space-evenly;
}

.menu-top {
  display: flex;
  padding: 1rem 0 22rem 1rem;
  cursor: pointer;
}

.menu-top span {
  padding-left: 0.8rem;
}

.menu-bottom {
  display: flex;
  padding: 0.9rem 0rem 1rem 1rem;
  cursor: pointer;
}

.menu-bottom span {
  padding-left: 0.8rem;
}

.menu-close-button {
  display: none;
}

@media (max-width: 768px) {
  .sidemenu {
    width: 70%;
    left: -100%;
    height: 100%;
    overflow-y: scroll;
  }

  .sidemenu-wrapper {
    background-color: #444654;
  }

  .sidemenu-button {
    padding: 15px 20px;
  }

  .sidemenu.show {
    left: 0;
  }

  .sidemenu-item.menu-top .menu-top-inner {
    display: flex;
    align-items: center;
  }

  .sidemenu-item.menu-top .menu-top-inner span {
    margin-left: 4px;
  }

  .menu-close-button {
    background-color: transparent;
    border: none;
    margin-left: 8rem;
    display: flex;
    align-items: center;
  }

  .menu-close-button:hover {
    background-color: rgba(32, 33, 35, 0.5);
    box-sizing: border-box;
  }
}

@media (min-width: 1400px) {
  .menu-top {
    display: flex;
    padding: 1rem 0 41rem 1rem;
    cursor: pointer;
  }

  .menu-bottom {
    display: flex;
    padding: 1rem 0rem 1rem 1rem;
    cursor: pointer;
  }
}